<html>
  <head>
    <title>Call Notification</title>
  </head>
  <body>
    <audio id="notificationAudio" controls loop>
      <source id="notificationAudioSource" src="ring1.mp3" type="audio/mpeg" />
    </audio>
    <h3>Select Notification Ringtone</h3>
    <select id="toneSelection" onchange="setRingtone()">
      <option value="normal">Normal</option>
      <option value="user">User Theme</option>
    </select>
    <br />
    <br />
    <button onclick="changeAudioDevice()">Set Audio Output</button>
    <button onclick="stopNotificationAudio()">Stop Audio</button>
    <p id="audioOuputInfo"></p>
  </body>
</html>

<script src="agentNotification.js"></script>
